@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* About Car Start */

.about-car {
    padding: 100px 0;
}

.car-img-box {
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    margin: auto 0 auto 140px;
    padding: 10px;
    width: 416px;
}

.car-img-box:hover {
    background-color: #f0151f;
}

.car-img {
    border-radius: 10px;
    width: 416px;
    height: 416px;
}

.about-car .title-border {
    margin-bottom: 30px;
}

.about-car-inner {
    width: 616px;
    margin-left: -70px;
}

.about-car-text {
    padding-left: 25px;
}

.about-car-text p {
    color: #535353;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 20px;
}

/* About Car End */